<%- include('layout') %> 
<!-- this is the home page command page-->
<main>
    <img src="/images/logo.jpg" alt="Jordy's picture" width="500px">
    <h1><i class="fa-solid fa-chart-column"></i> Track your workouts</h1> 
    <h1><i class="fa-solid fa-trophy"></i> Achieve your fitness goals</h1>
    <h1> <i class="fa-solid fa-medal"></i> BE PROUD OF YOUR ACCOMPLISHMENTS</h1>
    <p>Keep track of your daily sport with the easiest tracking site among every other sites.</p>
    
</main>
